// Title
$TITLE_REVEAL_DELAY: 1s;
$TITLE_REVEAL_DURATION: 2s;

// Title's and Subheading's caret
$CARET_BLINK_CYCLE: 0.5s;
$CARET_NUM_OF_CYCLES: 9;

// Subheading
$SUBHEADING_REVEAL_DELAY: 4.5s;
$SUBHEADING_REVEAL_DURATION: 3s;

// SVGs
$SVG_COLOR_DELAY: 11s;
$REMOVE_OUTLINE_DELAY: 11s;

// Button
$BUTTON_REVEAL_DELAY: 13s;
$BUTTON_REVEAL_DURATION: 1.5s;
