@use "../../abstracts/" as *;

.drawing-container {
  position: absolute;
  left: 12.2%;
  
  fill-opacity: 0;
  animation: color-svg 1.5s ease-in $SVG_COLOR_DELAY 1 forwards;

  & svg {
    animation: remove-stroke 1s ease-in $REMOVE_OUTLINE_DELAY 1 forwards;
  }
}

/* Small devices (landscape phones, 575px and below) */
@media (max-width: 575px) {
  .drawing-container {
    left: 50%;
    transform: translateX(-49.1%);
    margin-top: 3rem;
  }

  svg {
    width: 90vw;
    height: 100%;
  }

  .svg-medium, .svg-large {
    display: none;
  }

  .svg-small {
    display: block;
  }
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) { 
  .drawing-container {
    left: 50%;
    transform: translateX(-49.1%);
    margin-top: 3rem;
  }

  svg {
    width: 90vw;
    height: 100%;
  }

  .svg-small, .svg-large {
    display: none;
  }

  .svg-medium {
    display: block;
  }
}

/* Extra large devices (large desktops, 1025px and up) */
@media (min-width: 1025px) { 
  .drawing-container {
    left: 50%;
    transform: translateX(-49.1%);
    margin-top: 1rem;
  }

  svg {
    width: 85vw;
    height: 100%;
  }

  .svg-small, .svg-medium {
    display: none;
  }

  .svg-large {
    display: block;
  }
}    

@keyframes color-svg {
  to {
    fill-opacity: 1;
  }
}

@keyframes remove-stroke {
  to {
    stroke-width: 0;
  }
}
