@use "../../abstracts/" as *;

.drawing-container {
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
  margin-top: 6rem;
  fill-opacity: 0;
  animation: color-svg 1.5s ease-in $SVG_COLOR_DELAY 1 forwards;

  & svg {
    animation: remove-stroke 1s ease-in $REMOVE_OUTLINE_DELAY 1 forwards;
  }
}

@keyframes color-svg {
  to {
    fill-opacity: 1;
  }
}

@keyframes remove-stroke {
  to {
    stroke-width: 0;
  }
}
