@use "../../abstracts" as *;

.button-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media screen and (max-width: 429px) {
    top: 115vw;
  }

  @media screen and (min-width: 430px) {
    top: 105vw;
  }

  @media screen and (min-width: 576px) {
    top: 30vw;
  }

  @media screen and (min-width: 1025px) {
    top: 18vw;
  }
}

button {
  font-family: 'Righteous';
  letter-spacing: 0.5px;

  padding: 0.2em 0.5em;

  color: $pink;
  background-color: transparent;

  border-color: $pink;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 2px;

  transition: all 0.5s;

  &:hover {
    color: white;
    background-color: $pink;
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -1px;
    background: $background-color;
    animation: reveal-button $BUTTON_REVEAL_DURATION ease-in-out $BUTTON_REVEAL_DELAY forwards;
  }

  @media screen and (max-width: 575px) {
    font-size: 2.4rem;
  }

  @media screen and (min-width: 576px) {
    font-size: 2.7rem;
  }

  @media screen and (min-width: 1025px) {
    font-size: 1.8rem;
  }
}

@keyframes reveal-button {
  to {
    left: 100%;
    margin: 0;
  }
}
